/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

iframe {
    border: none;
}

/* Navigation */

nav {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin-right: 10px;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-items: stretch;
  margin-bottom: 20px;
  margin-top:20px;
  padding: 10px;
}

/* Index Page */

.seller-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
}


img {
  max-width: 100%;
  height: auto;
}


/* Product Grid */

.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}
.grid-item {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.grid-item h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.grid-item p {
  font-size: 14px;
  margin-bottom: 5px;
}

.grid-item:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Filter Form */
#filter-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#filter-form label {
  margin-right: 10px;
}

#filter-form select {
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px;
}

#filter-form input[type="submit"] {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#filter-form input[type="submit"]:hover {
  background-color: #45a049;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .grid-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}