iframe {
    border: none;
}

.seller {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
}
.featured-items {
    display: flex;
    justify-content: space-between;
}
.item {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    flex: 1;
}