iframe {
    border: none;
}

.seller {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
}
.featured-items {
    display: flex;
    justify-content: space-between;
}
.item {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    flex: 1;
}

nav {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  .feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

