.footer {
  background-color: #15144a;
  color: #fdfdfd;
  padding: 20px;
  text-align: center;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  color: #fdfdfd;
  text-decoration: none;
  margin: 0 10px;
}

.footer-info {
  font-size: 14px;
}

.footer-info p {
  margin-bottom: 5px;
}
