/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ICONS */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* CSS RESET */

* {
  margin: 0;
  padding: 0;
}

/* GLOBAL STYLES */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fdfdfd;
  text-align: justify;
}

h1, h2, h3 {
  font-family: 'Della Respira', cursive;
  margin-bottom: 20px;
  text-align: center;
}

button {
  background-color: #15144a;
  color: #fdfdfd;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;  
}

iframe {
    border: none;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: linear-gradient(rgba(21, 20, 74, 0.95), rgba(21, 20, 74, 0));
  backdrop-filter: blur(1px);
  padding: 5px 25px 0px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header li {
  margin-right: 10px;
}

header a {
  color: #fdfdfd;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

/* LANDING */

.bg-landing {
  background-color: #15144a;
  background-image: linear-gradient(to bottom, rgba(21, 20, 74, 0.50), rgba(46, 172, 227, 1) 80%)
}

.banner {
  background-size: cover;
  background-position: center center;
  height: 85vh;
  width: 100vw;
  background-attachment: fixed;
}

.banner-left {
  width: 60%;
  float: left;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap:10px;
  padding: 12% 85px 0px 0px;
}

.feature-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-right {
  width: 40%;
  float: right;
}

.banner-right h2 {
  padding-top: 25%;
  width: 75%;
  font-size: 48px;
  text-align: left;
  line-height: 95%;
}

.banner-right h3 {
  width: 75%;
  font-size: 18px;
  text-align: left;
  line-height: 95%;
}

.banner-right p {
  padding: 30px 0;
  width: 75%;
}

.banner-right button {
  width: 75%;
}

.seller-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 75px;
}


img {
  max-width: 100%;
  height: auto;
}


/* Product Grid */

.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}
.grid-item {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.grid-item h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.grid-item p {
  font-size: 14px;
  margin-bottom: 5px;
}

.grid-item:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Filter Form */
#filter-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#filter-form label {
  margin-right: 10px;
}


@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .grid-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

/* Footer */
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer li {
  margin: 30px;

}
